doctype html
html
    head
        title ColourBoard
    body
        style.
            body {
                background: #{currentlyLoggedInColour};
            }
        center
            p THESE STATS ARE FROZEN. NOT UP TO DATE.
            div(style={width: '50%', background:'white'})
                canvas#myChart
        block specific-js
            //TODO: don't use remote Chart.js
            script(type='text/javascript', src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js")
            script(type='text/javascript').
                // generate the scores and names from the given playerList data
                let playerColours = Object.keys(!{playerList}.players);
                let playerNames = playerColours.map(function(playerColour) {
                    return !{playerList}.players[playerColour].username;
                });
                let playerScores = playerColours.map(function(playerColour) {
                    return !{playerList}.players[playerColour]._score / 1000 / 3600 / 24;  // ms->sec->hr->days
                });
                // TODO: Filter out the top 5 scores
                console.log(playerScores);
                window.onload = function() {
                    let ctx = document.getElementById("myChart").getContext("2d");
                    let myNewChart = new Chart(ctx, {
                        type: 'bar',
                        data: {
                            labels: playerNames,
                            datasets: [
                                {
                                    label: "ColourPals",
                                    data: playerScores,
                                    bars: playerColours.map(function(playerColour) {
                                        return {fillColor: playerColour};
                                    })
                                }
                            ]
                        },
                        options: {
                            scales: {
                                yAxes: [{
                                    display: true,
                                    ticks: {
                                        beginAtZero: true
                                    }
                                }]
                            }
                        }
                    });
                }