doctype html
html
    head
        title ColourBoard
    body
        style.
            body {
                background: #{currentlyLoggedInColour};
            }
        center
            p THESE STATS ARE FROZEN. NOT UP TO DATE.
            div(style={width: '50%'})
                canvas#myChart
        block specific-js
            //TODO: don't use remote Chart.js
            script(type='text/javascript', src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js")
            script(type='text/javascript').
                window.onload = function() {
                    let ctx = document.getElementById("myChart").getContext("2d");
                    let myNewChart = new Chart(ctx, {
                        type: 'bar',
                        data: {
                            labels: ["VANBAKES", "JENJEN"],
                            datasets: [
                                {
                                    label: "ColourPals",
                                    data: [900, 1000]  // TODO: add datas
                                }
                            ]
                        },
                        options: {
                            scales: {
                                yAxes: [{
                                    display: true,
                                    ticks: {
                                        beginAtZero: true
                                    }
                                }]
                            }
                        }
                    });
                }