doctype html
html
    head
        title ColourBoard
    body
        style.
            body {
                font-size: 13px;
                background: #{currentlyLoggedInColour};
            }
        h1 Hi
